# Maven target directory
/target/

# Logs
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.project
.classpath
.settings/

# VS Code files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Java compiled files
*.class

# Package Files
*.jar
*.war
*.ear